:root {
  --white-color: #ffffff;
  --gray-color: #626262;
  --text-color: #b4ad9e;
  --primary-font-stack: 'Playfair Display', serif;
}
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
body {
  background-color: var(--white-color);
  color: var(--gray-color);
  font-family: var(--primary-font-stack);
  line-height: 1.2;
  width: 1200px;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 76px 314px 103px;
  padding: 0;
}
.nav-link {
  display: block;
}
.page-header .nav-link {
  font-size: 24px;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--gray-color);
  list-style: none;
}
.page-header .nav-link:hover,
.page-header .nav-link:focus {
  color: #03a9f3;
}
.main {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: flex-start;
  align-items: flex-start;
}

.content {
  list-style: none;
  margin-left: 150px;
  margin-right: 150px;
  width: 420px;
}
.content:nth-child(2n) {
  margin-left: 0;
  margin-right: 150px;
}
.content:nth-child(2n + 1) {
  margin-right: 60px;
}

.main .about {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}
.main .title {
  font-size: 30px;
  font-weight: 400;
}
.main .text {
  font-size: 14px;
  line-height: 1.7;
}
.footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 71px;
}
.button {
  font-size: 20px;
  line-height: 1.7;
  font-family: var(--primary-font-stack);
  color: var(--gray-color);
}
